@import '@/styles/constants.scss';
@import '@/styles/mixins';

.login-page {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  min-height: calc(100vh - $header-height);

  @include responsive($breakpoint-mobile) {
    padding-top: 50px;
  }

  @include responsive($breakpoint-tablet) {
    padding-top: 50px;
  }
}
